#Para OpenAI Platform
openai

#Para LlamaIndex
llama_index

#Para LlamaParse (Document Loader avanzado en la nube)
llama-parse

#Para Qdrant (base de datos vectorial propia)
qdrant-client
llama-index-vector-stores-qdrant

#Para Telegram
telebot
pyTelegramBotAPI

#Es para mi .env
python-dotenv

#Chat History o Histórico de Conversación
supabase

llama-index-storage-chat-store-postgres 
asyncpg

psycopg[binary]

#Para cargar configuración modular (model_config + prompt en YAML)
PyYAML